@font-face {
   font-family: 'Open Sans 700';
   font-display: swap;
   src: url('file:///C:/Users/jenny/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-08-07_211823/fonts/Open%20Sans%20700/font.ttf');
}
