@font-face {
   font-family: 'Fontfabric - UniSansBook';
   font-display: swap;
   src: url('file:///C:/Users/jenny/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-08-07_211823/fonts/Fontfabric%20-%20UniSansBook/font.ttf');
}
