@font-face {
   font-family: 'EncodeSansNormal-900-Black';
   font-display: swap;
   src: url('file:///C:/Users/jenny/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-08-07_211823/fonts/EncodeSansNormal-900-Black/font.ttf');
}
